$color-primary: #549ee7 !default;
$color-secondary: #498bce !default;
$background-primary: #323c43 !default;

$text-font: Roboto, "Helvetica Neue", sans-serif !default;
$text-color-primary: #d8dee9 !default;
$text-color-secondary: #bcc1cd !default;

$label-valid: #81bc7b !default;
$label-edited: #eab30f !default;
$label-invalid: #cb535b !default;
