@import "shared/variables";

html,
body {
  height: 100%;
}
*, body {
  box-sizing: border-box;
  color: $text-color-primary;
  font-family: $text-font;
  font-size: 0.75vw;
  line-height: 1vw;
}

body {
  margin: 0 10vw;
  padding: 0;
  background-color: $background-primary;
}

a {
  color: $text-color-primary;
  text-decoration: none;
}
